body {
    font-family: Arial, sans-serif;
    font-size:medium;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    text-decoration: none;
    height: 100vh;
}
.navbar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height:50px;
    background-color: #1285ff;
    padding: 5px;
    margin: 15px 12px;
    border-radius: 20px;
}
nav li:first-child{
    margin-right: auto;
    margin-left: 40px;
    display: flex;
}
nav li:nth-child(5){
    display: flex;
}
nav li:nth-child(7){
    display: none;
}
.logo{
    width:50px;
    border-radius: 50%;
}
.navbarprofile{
    width: 35px;
    border-radius: 50%;
}

.navbar li {
    margin-left: 20px;
}

.navbar li a  {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding:5px 10px;
}

 .btn {
    background-color: #2c2c2cec;
    border-radius: 10px;
    margin: 10px;
}

.navbar li a:hover  {
    font-weight:bold;
 }
.navbar li a:active {
    font-weight: bolder;
}
#navbar{
    display:none;
}
.container {
    margin-left: 30px;
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}
#result {
    display: none;
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
    opacity: 0;
    transition: opacity 0.5s ease;
}
button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}
main {
    padding: 10px 20px;
    overflow: hidden;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    border-radius: 20px;
    width: 170px;
    height: 170px;
    margin-right: 20px;
    box-shadow: 4px 4px 1px rgb(142, 139, 139);
}

.profile-info {
    flex-grow: 1;
}
.activities, .group-members {
display: flex;
flex-direction: column;
}
#profile-info p{margin-top:20px;
margin-bottom:20px;}
.main{
    margin-top: 20px;
    width:92vw;
    display: flex;
    justify-content:space-around;
    overflow: hidden;
}
h2{margin-bottom:12px;}
.activity, .member {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 480px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.activity h3, .member h3 {
    margin: 0;
}

a,h3{
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.position-text{
    margin-top:0;
    margin-bottom:10px;
}
 p{
    margin:0;
}
@media (max-width:400px) {
    .container {
        width: auto;
    }  
}
@media (max-width: 800px) {
    nav li:nth-child(7){
    display: flex;
}
.logo{
   margin-bottom: 28px;
}
.humburgerMenu{
    margin-bottom: 10px;
    margin-right: 15px;
}
.navbar {
    padding-right:10px;
    margin: 10px 5px;
    border-radius: 20px;
    height: 60px;
}
.EmployeeViewBar{
    display: none;
}
.navbarprofile{
    display: none;  
}
#navbarprofile{
    display: flex;
    box-shadow: 0 4px 20px  #fd0339;
}
#navbar {
    position: fixed;
    top:0;
    right:0;
    height:100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px black;
    display: none;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    overflow: hidden;
}
nav li:first-child{
    margin-right: auto;
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
}
.navbar li{
    padding-top: 10px;
}
.navbar li a  {
    color:black;
    font-size: larger;
    text-decoration: none;
    padding:5px 10px;
    padding: 0 80px;
}
nav li a:nth-child(6){
    padding: 0 50px;
}
.btn {
    background-color: transparent;
    margin-left:0px;
}
#navbarprofile{
    width: 50px;
    border-radius: 50%;
    margin-left: 80px;
    margin-top:20px;
}
}
@media (max-width: 1094px) {
    .activity, .member {
        width: 80vw;
        width: 300px;
    }
}
@media (max-width: 710px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .activity, .member {
        width: 80vw;
        height: auto;
        width: 370px;
    }
}
@media (max-width: 530px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }
    .profile img {
        width: 100px;
        height: 100px;
        margin: 0 0 10px 0;
    }
    .activity, .member {
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;
        width: 300px;
        height: 90px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }
}