.top-bar {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.top-bar h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.top-bar input {
    padding: 8px 12px;
    
    border-radius: 10px;
    font-size: 1em;
    width: 200px;
}

.activities-detail {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.activity-table {
    width: 100%;
    
    margin-top: 20px;
}

.activity-table th,
.activity-table td {
    padding: 12px 30px; /* Increased padding to create more space between columns */
    text-align: center;
    border: 1px solid #ddd;
}

.activity-table th {
    background-color: #f9f9f9;
    font-weight: bold;
}

.activity-table tbody tr:nth-child(even) {
    background-color: #f4f4f4;
}

.progress-status, .done-status {
    color: #fff;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

.progress-status {
    background-color: #007bff; /* Blue for Progress */
}

.done-status {
    background-color: #28a745; /* Green for Done */
}

.progress-status:hover, .done-status:hover {
    opacity: 0.9;
}
