/* Container for the entire form section */
h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.member-btn, .activity-btn, .weight-btn {
    margin-bottom: 20px;
    
    font-family:Arial, Helvetica, sans-serif;
}

/* Label styling */
label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

/* Select dropdown styling */
select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 300px;
    margin-left:-80px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}
.member-select-btn{
    margin-left:-125px;
}
.assessment{
    display: flex;
}

.weight-btn{
    margin-left:200px;
    padding-left:20px;
}
.member-select-btn,.activity-select-btn{
    width:400px;
    height:45px;
    border-radius: 10px;
}
/* Change border color on focus */
select:focus {
    border-color: #007bff; /* Blue border when focused */
    outline: none;
}

/* Additional styling for the select containers */
.member-btn, .activity-btn, .weight-btn {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between label and select */
}

/* Responsive styling for smaller screens */
@media (max-width: 600px) {
    select {
        width: 100%;
    }
}

.done-btn{
  background-color:#007bff;
  height:30px;
  width:70px;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  border:none;
 
  border-radius: 20px;
  font-size: 16px;
}

/* General styling for the review section */
h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin-bottom: 15px;
    margin-top:10px;
}

.review-detail {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

/* Table Styling */
.review-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.review-table th,
.review-table td {
    padding: 12px 20px; /* Adjust padding for better spacing */
    text-align: center;

    font-size: 1em;
}

.review-table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.review-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Button Styling */
.weight-button {
    color: #fff;
    background-color: #007bff; /* Blue color for buttons */
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}

.weight-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    opacity: 0.9;
}
.submit-btn{
    background-color:#007bff;
    height:30px;
    width:70px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    border:none;
   margin-top:10px;
    border-radius: 20px;
    font-size: 16px;
}