.activity-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    
    border-radius: 5px;
    max-width: 400px;
    margin: auto;
    background-color: #f9f9f9;
}

.activity-info div {
    display: flex;
    flex-direction: column;
}

.activity-info label {
    margin-bottom: 5px;
    font-weight: bold;
}

.activity-info input[type="text"],
.activity-info input[type="date"],
.activity-info textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.activity-info textarea {
    height: 100px;
    resize: none;
}

.add-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
       border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
}

.add-btn:hover {
    background-color: #0056b3;
}
.list{
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 50px;
    color:#007bff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}   
.list-activity {
    padding: 20px;
  
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 800px;
    
}

.activity-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.activity-table th, .activity-table td {
    padding: 10px;
   
    text-align: left;
}

/* Set column widths */
.activity-table th.activity-name,
.activity-table td:nth-child(1) {
    width: 40%;
}

.activity-table th.deadline,
.activity-table td:nth-child(2) {
    width: 30%;
}

.activity-table th.edit,
.activity-table td:nth-child(3) {
    width: 15%;
}

.activity-table th.delete,
.activity-table td:nth-child(4) {
    width: 15%;
}

.edit-btn, .delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.edit-btn {
    background-color: #28a745;
    color: white;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}